@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

/*Page not found*/

.page_not_Found_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Archivo Black' ;
}